<form action="<%= signin %>"  method="post">
    <label>Email : </label>
    <input type="text" placeholder="Email" name="email"><br>
    <label>Password : </label>
    <input type="password" placeholder="Password" name="password"><br>
    <input type="submit" value="Login">
</form>